<div class="container">
    <div class="row justify-content-center mt-5">
        <div class="col-xl-4 col-lg-5 col-md-7 col-sm-10 col-12 pt-5">
            <mat-card>
                <mat-card-header>
                    <mat-card-title>Login</mat-card-title>
                </mat-card-header>
                <mat-card-content>
                    <form class="mt-4" [formGroup]="loginForm" (submit)="login()">
                        <mat-form-field class="full-width mb-1">
                            <mat-label>Email</mat-label>
                            <input matInput placeholder="name@example.com" formControlName="email">
                            <mat-error *ngIf="loginForm.get('email')?.touched && loginForm.get('email')?.errors?.['required']">This field is required!</mat-error>
                            <mat-error *ngIf="loginForm.get('email')?.touched && loginForm.get('email')?.errors?.['email']">Email address is not valid!</mat-error>
                        </mat-form-field>
                        <mat-form-field class="full-width mb-1">
                            <mat-label>Password</mat-label>
                            <input matInput type="password" placeholder="Password" formControlName="password">
                            <mat-error *ngIf="loginForm.get('password')?.touched && loginForm.get('password')?.errors?.['required']">This field is required!</mat-error>
                        </mat-form-field>
                        <div class="text-uppercase text-center mt-2 mb-4" *ngIf="showErrorMessage">
                            <mat-error>Email or password is not valid!</mat-error>
                        </div>
                        <p class="text-end">You don't have an account? <span class="cursor-pointer text-primary" routerLink="/register">Register now</span>.</p>
                        <div class="text-end mt-4">
                            <button mat-raised-button color="primary">Login</button>
                        </div>
                    </form>
                </mat-card-content>
            </mat-card>
        </div>
    </div>
</div>